html body {
	padding: 0px;
	margin: 0px;
	background: black;
	overflow: hidden;
}

.camara{
	width: 500px;
	height: 224px;
	position: relative;
}
.template1{
	width: 500px;
	height: 224px;
	position: absolute;	
	background: red;
}
.template2{
	width: 500px;
	height: 224px;
	position: absolute;
	background: white;
}
